<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        {% block title %}
            {% if title %}
            <title>Flask - {{ title }}</title>
            {% else %}
            <title>Flask Blog</title>
            {% endif %}
        {% endblock title %}
    </head>
    <body>
        <div class="wrapper">

        {% block menu %}
            <header class="header">
                <div class="logo">
                    <img src="{{ url_for('static', filename='img/logo.svg') }}" alt="logo">
                </div>
                <ul class="main_menu">
                    <li><a href="#"><p>Main</p></a></li>
                    <li><a href="#"><p>Blog</p></a></li>
                    <li><a href="#"><p>Registration</p></a></li>
                    <li><a href="#"><p>Login</p></a></li>
                    <li><a href="#"><p>Account</p></a></li>
                    <li><a href="#"><p>Create post</p></a></li>
                    <li><a href="#"><p>Logout</p></a></li>
                </ul>

            </header>
        {% endblock menu %}

        {% block content %}

        {% endblock content %}


        {% block main_page %}
        
        <div class="content">

        </div>
        {% endblock main_page %}


        {% block footer %}
        <footer class="footer"> All rights reserved!<br>
            &#169; zxc228 2024
        </footer>
        {% endblock footer %}
        </div>
    </body>
</html>
