{% extends 'layout.html' %}

{% block content %}

<div class="login_form">
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <legend class="legend">{{ legend }}</legend>

        <div class="form-group">
            {% if form.email.errors %}
                {{ form.email(class_='is-invalid', placeholder='Email') }}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.email(class_='form-post-title', placeholder='Email') }}
            {% endif %}
        </div>

        <div class="form-group">
            {% if form.password.errors %}
                {{ form.password(class_='form-post-title is-invalid', placeholder="Password") }}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.password(class_='form-post-title', placeholder='Password') }}
            {% endif %}
        </div>

        <div class="form-check">
            {{ form.remember(class_='form-check-input') }}
            {{ form.remember.label(class_='form-check-label') }}
        </div>

        <div class="form-group">
            {{ form.submit(class_='btn_sign_in') }}
        </div>
    </form>
</div>


{% endblock %}